@using Microsoft.AspNetCore.Authentication
@using System.Security.Claims

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PH.SA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-dark fixed-top" style="background-color: #000;">
            <div class="container-fluid">
                <img src="~/favicon.ico" alt="Logo" width="50" height="44" />
                <a class="navbar-brand" href="#" style="color: white;">PH.SA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header" style="background-color: white;">
                        <img src="~/favicon.ico" alt="Logo" width="40" height="35" />
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel" style="color: #000;">Su tienda de confianza</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body" style="background-color: white;">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            @if (User.Identity.IsAuthenticated)
                            {
                                @if (User.IsInRole("admin"))
                                {
                                    <li class="nav-item">
                                        <form method="post" asp-controller="Empleados" asp-action="RegistrarEmpleado">
                                            <center>
                                                <button type="submit" class="nav-link btn btn-link" 
                                                        style="background-color: #F480A1; color: black; 
                                                        padding: 10px 20px; border: 10px; cursor: pointer;
                                                        text-decoration: none; display: inline-block; 
                                                        border-radius: 5px; height: 40px; line-height: 20px;">
                                                    Registrar Empleado
                                                </button>
                                            </center>
                                        </form>
                                    </li>
                                    <li class="nav-item">
                                        <form method="post" asp-controller="Productos" asp-action="RegistrarProducto">
                                            <center>
                                                <button type="submit" class="nav-link btn btn-link"
                                                        style="background-color: #F480A1; color: black;
                                                        padding: 10px 20px; border: 10px; cursor: pointer;
                                                        text-decoration: none; display: inline-block;
                                                        border-radius: 5px; height: 40px; line-height: 20px;">
                                                    Registrar Producto
                                                </button>
                                            </center>
                                        </form>
                                    </li>

                                }
                                <li class="nav-item">
                                    <form method="post" asp-controller="Usuario" asp-action="Logout">
                                        <center>
                                            <button type="submit" class="nav-link btn btn-link"
                                                    style="background-color: #F480A1; color: black;
                                                        padding: 10px 20px; border: 10px; cursor: pointer;
                                                        text-decoration: none; display: inline-block;
                                                        border-radius: 5px; height: 40px; line-height: 20px;">
                                                Cerrar sesión
                                            </button>
                                        </center>
                                    </form>
                                </li>
                            }

                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Usuario" asp-action="RegistrarUsuario" style="color: #000;">Registrarse</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Usuario" asp-action="Login" style="color: #000;">Iniciar Sesión</a>
                                </li>
                            }
                        </ul>
                        <form class="d-flex mt-3" role="search">
                            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                            <button class="btn btn-success" type="submit" style="background-color: #ED2860; border-color: #ED2860;">Buscar</button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - PH.SA - <a asp-area="" asp-page="/Privacy">Privacidad</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
