@model loginregistermenu.Models.LoginModel
@{
    ViewData["Title"] = "Iniciar Sesión";
}

<center>
    <h2>Iniciar Sesión</h2>

    <form method="post">
        <div>
            <label asp-for="Correo"></label>
            <input asp-for="Correo" />
        </div>
        <div>
            <label asp-for="Contrasena"></label>
            <input asp-for="Contrasena" type="password" />
        </div>
        <button type="submit">Iniciar Sesión</button>
        <br /> <br />
        <a asp-controller="Usuario" asp-action="RegistrarUsuario">Registrarse</a>
    </form>
</center>
