@model loginregistermenu.Models.LoginModel

@{
    ViewData["Title"] = "Iniciar Sesión";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="CorreoONombreUsuario">Correo o Nombre de Usuario</label>
        <input asp-for="CorreoONombreUsuario" class="form-control" />
        <span asp-validation-for="CorreoONombreUsuario" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Contrasena"></label>
        <input asp-for="Contrasena" class="form-control" />
        <span asp-validation-for="Contrasena" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
