@page
@model loginregistermenu.Models.IndexModel
@{
    ViewData["Title"] = "Menú Principal";
}

<h2>Menú Principal</h2>
<ul>
    <li><a asp-controller="Users" asp-action="Register">Registrar Usuario</a></li>
    <li><a asp-controller="Users" asp-action="Login">Iniciar Sesión</a></li>
    <!-- Añadir más enlaces según las necesidades -->
</ul>
