@model loginregistermenu.Models.IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Bienvenido a DUNAMIS SA</h1>
    <p class="lead">Su socio confiable en soluciones de transporte.</p>
    <hr class="my-4" />
    <p>Proveemos sistemas de gestión de tarifas de transporte completos y eficientes.</p>
    <a class="btn btn-primary btn-lg" asp-controller="Users" asp-action="Login" role="button">Iniciar Sesión</a>
    <a class="btn btn-secondary btn-lg" asp-controller="Users" asp-action="Register" role="button">Registrarse</a>
</div>
