@model loginregistermenu.Models.IndexModel
@{
    ViewData["Title"] = "Inicio";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PH.SA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" />
</head>
<body>
    <div class="jumbotron text-center">
        <h1 class="display-4">Bienvenido a PH.SA</h1>
        <p class="lead">Su socio confiable a la hora de comprar productos.</p>
        <hr class="my-4" />
        <p>Contamos con una variedad extensa en productos que van desde la A a la Z.</p>
        @if (!User.Identity.IsAuthenticated)
        {
            <a class="btn btn-primary btn-lg" asp-controller="Usuario" asp-action="Login" role="button">Iniciar Sesión</a>
            <a class="btn btn-secondary btn-lg" asp-controller="Usuario" asp-action="RegistrarUsuario" role="button">Registrarse</a>
        }
    </div>
</body>
</html>
